body{
	margin: 0;
}
.root{
	width: 100%;
	height: 100%;
	position: absolute;
}
.leftbar, .rightbar, .canvasBoard{
	float: left;
	width:100%;
	margin:0;
	height: 100%;
}

.sidebar{
	background-color: rgba(0, 64, 253, 0.43);
	max-width: 20%;
}

.canvasBoard{
	max-width: 60%;
}

.mycanvas{
	width:100%;
	background-color: transparent;
}

/*.canvas-container{
	width: 100%;
	height: 100%;
	position: absolute;
}*/

.tool{
	width: 90%;
	max-height: 50px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
}

.mycolorpicker{
	position: relative;
	height: 36px;
	width: 36px;
	background: url('images/select2.png');
}

.mycolorpicker div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url('images/select2.png') center;
}

.colorpicker{
	z-index: 100;
}

#canvas1{
	z-index: 1;
}